body {
  min-width: 550px;
  width:100%;
  height: 100%;
  margin: 0px;
  font-family: "Sue Ellen Francisco";
  color: white;
}

.status_bar{
  font-size: xx-large;
  text-align: center;
  background-color: darkturquoise;
  height: 70px;
  width:100%;
}
.remote,
.local{
  border-color:white;
}
.landing{
  margin-top: 100px;
}
.start{
  text-align: center;
  color:darkturquoise;
  font-size: 2.2em;
  position: relative;
  background-color:white;
  width:100%;
  height:910px;
}
.container{
  position: relative;
  background-color:lightgrey;
  width:100%;
  height:910px;
}
.left_column{
  position: relative;
  float:left;
  background-color: darkturquoise;
  width: 25%;
  height: 100%;
}

.right_column{
  position: relative;
  float:left;
  background-color: darkturquoise;
  width: 25%;
  height: 100%;
}
.middle_column{
  position: relative;
  float:left;
  background-color: white;
  width: 50%;
  height: 100%;
}

.turn_banner{
  margin:0 auto;
  font-size: 3.2em;
  text-align: center;
  color: darkturquoise;
  letter-spacing: .5rem;
  float:none;
  width:100%;
  height: 10%;
  color: darkturquoise;
}
.game_space{
  float:left;
  width:100%;
  height: 86.5%;
}
.square{
  display: inline-block;
  text-align: center;
  font-size: 150px;
  float:left;
  width: 32%;
  height: 33%;
  background-color: darkturquoise;
  margin: 0 0 1% 1%;

}
.counter{
  margin:0 auto;
  font-weight: bold;
  font-size:300px;
  text-align: center;
  float:none;
  width:100%;
  height: 80%;
  background-color: darkturquoise;
}
.token_selector{
  margin:0 auto;
  float:none;
  width:100%;
  height: 20%;
  background-color: palegoldenrod;
}
@media (max-width: 500px) {
  .middle_column{
    width: 100%
  }
  .side_column{
  }
  .container{
    height: 35em;
  }
